.m-top-80 {
  margin-top: 80px;
}

.overflow-x-auto {
  overflow-x: auto;
}

.v-align-center {
  display: flex;
  align-items: center;
}
.h-align-center {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
