@import 'theme.scss';
@import 'grid.scss';
// generic utility code
*,
*::before,
*::after {
  box-sizing: border-box;
}

%h-text {
  font-weight: 700;
  font-family: sans-serif;
}
h1 {
  @extend %h-text;
  @media (max-width: map-get($grid-bp, sm, 'value')) {
    font-size: 38px;
    line-height: 40px;
  }
  @media (min-width: map-get($grid-bp, sm, 'value')) {
    font-size: 64px;
    line-height: 68px;
  }
}
h1.small {
  @extend %h-text;
  @media (max-width: map-get($grid-bp, sm, 'value')) {
    font-size: 38px;
    line-height: 40px;
  }
  @media (min-width: map-get($grid-bp, sm, 'value')) {
    font-size: 52px;
    line-height: 56px;
  }
}
h2 {
  @extend %h-text;
  @media (max-width: map-get($grid-bp, sm, 'value')) {
    font-size: 32px;
    line-height: 36px;
  }
  @media (min-width: map-get($grid-bp, sm, 'value')) {
    font-size: 48px;
    line-height: 52px;
  }
}
h3 {
  @extend %h-text;
  @media (max-width: map-get($grid-bp, sm, 'value')) {
    font-size: 28px;
    line-height: 32px;
  }
  @media (min-width: map-get($grid-bp, sm, 'value')) {
    font-size: 32px;
    line-height: 38px;
  }
}
h4 {
  @extend %h-text;
  @media (max-width: map-get($grid-bp, sm, 'value')) {
    font-size: 26px;
    line-height: 30px;
  }
  @media (min-width: map-get($grid-bp, sm, 'value')) {
    font-size: 28px;
    line-height: 32px;
  }
}

%text {
  font-family: sans-serif;
}

p,
span,
a {
  @extend %text;
  @media (max-width: map-get($grid-bp, sm, 'value')) {
    font-size: 20px;
    line-height: 30px;
  }
  @media (min-width: map-get($grid-bp, sm, 'value')) {
    font-size: 24px;
    line-height: 32px;
  }
}
.btn {
  @extend %text;
  padding: 12px 16px;
  border-radius: 4px;
  border: none;
  background-color: white;
  cursor: pointer;
  &-outline {
    border: 1px solid map-get($colors, 'black');
  }
}
