// Grid system - Container def.
.container {
  margin: 0 auto;
  @media (min-width: map-get($grid-bp, xs, 'value')) {
    max-width: map-get($grid-bp, xs, 'containerMaxWidth');
    padding: map-get($grid-bp, xs, 'containerPadding');
  }
  @media (min-width: map-get($grid-bp, sm, 'value')) {
    max-width: map-get($grid-bp, sm, 'containerMaxWidth');
    padding: map-get($grid-bp, sm, 'containerPadding');
  }
  @media (min-width: map-get($grid-bp, md, 'value')) {
    max-width: map-get($grid-bp, md, 'containerMaxWidth');
    padding: map-get($grid-bp, md, 'containerPadding');
  }
  @media (min-width: map-get($grid-bp, lg, 'value')) {
    max-width: map-get($grid-bp, lg, 'containerMaxWidth');
    padding: map-get($grid-bp, lg, 'containerPadding');
  }
  @media (min-width: map-get($grid-bp, xl, 'value')) {
    max-width: map-get($grid-bp, xl, 'containerMaxWidth');
    padding: map-get($grid-bp, xl, 'containerPadding');
  }

  &-fluid {
    width: 100%;
    &--with-padding {
      @media (min-width: map-get($grid-bp, xs, 'value')) {
        padding: map-get($grid-bp, xs, 'containerPadding');
      }
      @media (min-width: map-get($grid-bp, sm, 'value')) {
        padding: map-get($grid-bp, sm, 'containerPadding');
      }
      @media (min-width: map-get($grid-bp, md, 'value')) {
        padding: map-get($grid-bp, md, 'containerPadding');
      }
      @media (min-width: map-get($grid-bp, lg, 'value')) {
        padding: map-get($grid-bp, lg, 'containerPadding');
      }
      @media (min-width: map-get($grid-bp, xl, 'value')) {
        padding: map-get($grid-bp, xl, 'containerPadding');
      }
    }
  }
}

// Grid system - Row def.
.row {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  @media (max-width: map-get($grid-bp, sm, 'value')) {
    margin: 0 calc(#{$xs-gutter}/ -2);
  }
  @media (min-width: map-get($grid-bp, sm, 'value')) {
    margin: 0 calc(#{$default-gutter}/ -2);
  }

  &-reverse {
    flex-direction: row-reverse;
  }

  // Grid system - Rows that sets child cols to a given number per row, 1 to 12 items per col
  @for $i from 1 through $row-equal-items {
    &-#{$i} {
      > [class*='col'] {
        @media (max-width: map-get($grid-bp, sm, 'value')) {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$xs-gutter});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$xs-gutter});
          }
        }
        @media (min-width: map-get($grid-bp, sm, 'value')) {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          }
        }
      }
    }

    @media (min-width: map-get($grid-bp, xs, 'value')) and (max-width: map-get($grid-bp, sm, 'value')) {
      &-#{map-get($grid-bp, xs, 'name')}-#{$i} {
        > [class*='col'] {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$xs-gutter});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$xs-gutter});
          }
        }
      }
    }
    @media (min-width: map-get($grid-bp, sm, 'value')) and (max-width: map-get($grid-bp, md, 'value')) {
      &-#{map-get($grid-bp, sm, 'name')}-#{$i} {
        > [class*='col'] {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          }
        }
      }
    }
    @media (min-width: map-get($grid-bp, md, 'value')) and (max-width: map-get($grid-bp, lg, 'value')) {
      &-#{map-get($grid-bp, md, 'name')}-#{$i} {
        > [class*='col'] {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          }
        }
      }
    }
    @media (min-width: map-get($grid-bp, lg, 'value')) and (max-width: map-get($grid-bp, xl, 'value')) {
      &-#{map-get($grid-bp, lg, 'name')}-#{$i} {
        > [class*='col'] {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          }
        }
      }
    }
    @media (min-width: map-get($grid-bp, xl, 'value')) {
      &-#{map-get($grid-bp, xl, 'name')}-#{$i} {
        > [class*='col'] {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$default-gutter});
          }
        }
      }
    }
  }
}
// row modifier
.no-wrap {
  flex-wrap: nowrap;
}
// layout restriction helper, use at your own risk
.no-strict {
  max-width: none !important;
}
// Grid system, Col Def.
[class*='col'] {
  word-wrap: break-word;
  @media (max-width: map-get($grid-bp, sm, 'value')) {
    margin: calc(#{$xs-gutter}/ 2);
  }
  @media (min-width: map-get($grid-bp, sm, 'value')) {
    margin: calc(#{$default-gutter}/ 2);
  }
}
// Grid System - Cols 1% to 100%
.col {
  @for $i from 1 through $grid-cols {
    &-#{$i} {
      @media (max-width: map-get($grid-bp, sm, 'value')) {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$xs-gutter});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$xs-gutter});
        }
      }
      @media (min-width: map-get($grid-bp, sm, 'value')) {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        }
      }
    }

    @media (min-width: map-get($grid-bp, xs, 'value')) and (max-width: map-get($grid-bp, sm, 'value')) {
      &-#{map-get($grid-bp, xs, 'name')}-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$xs-gutter});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$xs-gutter});
        }
      }
    }
    @media (min-width: map-get($grid-bp, sm, 'value')) and (max-width: map-get($grid-bp, md, 'value')) {
      &-#{map-get($grid-bp, sm, 'name')}-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        }
      }
    }
    @media (min-width: map-get($grid-bp, md, 'value')) and (max-width: map-get($grid-bp, lg, 'value')) {
      &-#{map-get($grid-bp, md, 'name')}-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        }
      }
    }
    @media (min-width: map-get($grid-bp, lg, 'value')) and (max-width: map-get($grid-bp, xl, 'value')) {
      &-#{map-get($grid-bp, lg, 'name')}-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        }
      }
    }
    @media (min-width: map-get($grid-bp, xl, 'value')) {
      &-#{map-get($grid-bp, xl, 'name')}-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$default-gutter});
        }
      }
    }
  }
}
// End grid system
