@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
// typography

// colors Sass:map
$colors: (
  'primary-green': #052e2e,
  'primary-beige': #fcfacc,
  'forest-dark': #00610e,
  'forest': #91c593,
  'forest-light': #b4f2c1,
  'accent-cta': #34a149,
  'accent-link': #40ad4f,
  'sand-dark': #ca7200,
  'sand': #ffc55a,
  'sand-light': #fff1dc,
  'sky-dark': #1f6b7c,
  'sky': #68c8dd,
  'sky-light': #d2e7f2,
  'sun-dark': #c11c40,
  'sun': #ff6962,
  'sun-light': #f8dedd,
  'grey-dark': #555,
  'grey': #b9b9b9,
  'grey-light': #f0f0f0,
  'white': #fff,
  'black': #000,
  'dark-green': #042322,
  'cards-bg-dark': #052f2e,
  'bards-bg': #053d33,
  'cards-bg-light': #305a3e,
  'cards-bg-ivory': #faf7ee,
  'background-default': #f2eee0,
  'sdg-1': #e5243b,
  'sdg-2': #c08b21,
  'sdg-3': #4c9f38,
  'sdg-4': #c5192d,
  'sdg-5': #ff3a21,
  'sdg-6': #1aa0c1,
  'sdg-7': #b68c02,
  'sdg-8': #a21942,
  'sdg-9': #fd631c,
  'sdg-10': #dd1367,
  'sdg-11': #de7b02,
  'sdg-12': #bf8b2e,
  'sdg-13': #3f7e44,
  'sdg-14': #0a97d9,
  'sdg-15': #4aa626,
  'sdg-16': #00689d,
  'sdg-17': #19486a,
);

// @TypeDef: breakpoints Sass:map
$grid-bp: (
  xs: (
    name: 'xs',
    value: 1px,
    containerMaxWidth: 575px,
    containerPadding: 0 16px,
  ),
  sm: (
    name: 'sm',
    value: 576px,
    containerMaxWidth: 991px,
    containerPadding: 0 24px,
  ),
  md: (
    name: 'md',
    value: 992px,
    containerMaxWidth: 1280px,
    containerPadding: 0 24px,
  ),
  lg: (
    name: 'lg',
    value: 1280px,
    containerMaxWidth: 1280px,
    containerPadding: 0 32px,
  ),
  xl: (
    name: 'xl',
    value: 1440px,
    containerMaxWidth: 1440px,
    containerPadding: 0 40px,
  ),
);

// column gap
$xs-gutter: 16px;
$default-gutter: 24px;

/* Defines whether to use strict column width (flex-basis + max-width) or only flex based initial value (flex-basis)
true: column width is fixed
false: column width is initial and can grow if needed, i.e. the content exceeds the column width.
    Use at your own risk */
$strict: true;

/* Max number of grids, it throws a percent as output from a calc result, 
if set 100, then there will be 100 columns, from 1% to 100% size */
$grid-cols: 100;

/* This is used to set the max equal -width- items inside a row using the `row row-N` notation */
$row-equal-items: 12;
